@model ASPNETCoreIdentityDemo.Models.ViewModels.PaginationViewModel
@{
}

@if (Model.TotalPages > 0)
{
    <nav aria-label="...">
        <div class="d-flex justify-content-end">
            <!-- Align to the left -->
            <ul class="pagination">
                @if (Model.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="ListUsers" asp-controller="Administration" asp-route-page="1">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" asp-action="ListUsers" asp-controller="Administration" asp-route-page="@(Model.CurrentPage-1)">Prev</a>
                    </li>
                }
                @for (var pg = Model.StartPage; pg <= Model.EndPage; pg++)
                {
                    <li class="page-item @(pg == Model.CurrentPage ? "active" : "")">
                        <a class="page-link" asp-action="ListUsers" asp-controller="Administration" asp-route-page="@pg">@pg</a>
                    </li>
                }
                @if (Model.CurrentPage < Model.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="ListUsers" asp-controller="Administration" asp-route-page="@(Model.CurrentPage+1)">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" asp-action="ListUsers" asp-controller="Administration" asp-route-page="@Model.TotalPages">Last</a>
                    </li>
                }
            </ul>
        </div>
    </nav>
}
