@model ASPNETCoreIdentityDemo.Models.ViewModels.PaginationViewModel
@{

}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
<title>Bootstrap Example</title>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>


@if (Model.TotalPages > 0)
{

    <nav aria-label="..." class="d-flex justify-content-between pb-4 mb-2">
   @*      <div class="dropup-center dropup">
            <button class="btn  dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Rows per page
            </button>
            <ul class="dropdown-menu" style="">
                <a class="dropdown-item" href="@Url.Action("ListUsers", "Administration", new { page = 1, pageSize = 5 })">5</a>
                <a class="dropdown-item" href="@Url.Action("ListUsers", "Administration", new { page = 1, pageSize = 10 })">10</a>
                <a class="dropdown-item" href="@Url.Action("ListUsers", "Administration", new { page = 1, pageSize = 20 })">20</a>
            </ul>
        </div> *@

        <div class="input-group" style="width: 200px;">
            <input type="number" id="pageSizeInput" class="form-control" placeholder="Rows per page" min="1" style="width: 60px;">
            <div class="input-group-append">

                <button class="btn btn-secondary" type="button" id="updatePageSizeBtn" style="padding: 8px;height: 38px;">
                    <i class="fa fa-plus" style="padding:0px;"></i>
                </button>
            </div>
        </div>


        <div class="d-flex justify-content-end">
            <!-- Align to the left -->
            <ul class="pagination">
                @if (Model.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="ListUsers" asp-controller="Administration" asp-route-page="1" asp-route-pageSize="@ViewBag.SelectedPageSize">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" asp-action="ListUsers" asp-controller="Administration" asp-route-page="@(Model.CurrentPage-1)" asp-route-pageSize="@ViewBag.SelectedPageSize">Prev</a>
                    </li>
                }
                @for (var pg = Model.StartPage; pg <= Model.EndPage; pg++)
                {
                    <li class="page-item @(pg == Model.CurrentPage ? "active" : "")">
                        <a class="page-link" asp-action="ListUsers" asp-controller="Administration" asp-route-page="@pg" asp-route-pageSize="@ViewBag.SelectedPageSize">@pg</a>
                    </li>
                }
                @if (Model.CurrentPage < Model.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" asp-action="ListUsers" asp-controller="Administration" asp-route-page="@(Model.CurrentPage+1)" asp-route-pageSize="@ViewBag.SelectedPageSize">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" asp-action="ListUsers" asp-controller="Administration" asp-route-page="@Model.TotalPages" asp-route-pageSize="@ViewBag.SelectedPageSize">Last</a>
                    </li>
                }
            </ul>
        </div>

    </nav>
}


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>