@model IEnumerable<ApplicationUser>
@{ 
    ViewBag.Title = "All Users";
}
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.0/css/dataTables.dataTables.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.4/css/jquery.dataTables.min.css">
@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success mt-5">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <p>@TempData["SuccessMessage"]</p>
    </div>
}

<div  style="margin-bottom:50px;">
 @*    <h3>All Users :<b class="text-success">@ViewBag.AllUsersCount</b></h3> *@
    @if (Model.Any())
    {
        <div class="row justify-content-between">
            <div class="col-md-6">
                <a asp-action="Register" asp-controller="Account" class="btn btn-primary mb-3">
                    Add New User
                </a>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table" id="myTable">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>
                                <form method="post" asp-action="DeleteUser" asp-controller="Administration" asp-route-UserId="@user.Id">
                                    <a asp-action="EditUser" asp-controller="Administration"
                                       asp-route-UserId="@user.Id" class="btn btn-primary p-1"><i class="fa fa-edit"></i></a>

                                    <span id="confirmDeleteSpan_@user.Id" style="display:none">
                                        <span class="bg-warning" style="font-size:small;">Are you sure?</span>
                                        <button type="submit" class="btn btn-danger p-1">Yes</button>
                                        <a href="#" class="btn btn-primary p-1" onclick="confirmDelete('@user.Id', false);return false;">No</a>
                                    </span>

                                    <span id="deleteSpan_@user.Id">
                                        <a href="#" class="btn btn-danger p-1" onclick="confirmDelete('@user.Id', true);return false;">
                                            <i class="fa fa-trash"></i></a>
                                    </span>
                                </form>
                            </td>
                            <td>@user.FirstName</td>
                            <td>@user.LastName</td>
                            <td>@user.Email</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="alert alert-info" role="alert">
            No Users Added Yet
        </div>
    }
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>   
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script src="https://cdn.datatables.net/2.0.0/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.0/js/dataTables.jqueryui.js"></script>
<script src="https://cdn.datatables.net/2.0.0/js/dataTables.js"></script>
<script>
    $(document).ready(function () {
        var alertElement = $(".alert");

        $(document).ready(function () {
            $('#myTable').DataTable({
                "lengthMenu": [5, 10, 15, 20], 
                "pageLength": 5, 
                "searching": true, 
                "ordering": true, 
                "paging": true, 
               
            });
        });

        // Check if the alert has already been manually closed
        if (!alertElement.hasClass("manual-close")) {
            // Automatically close the alert after a delay
            alertElement.delay(5000).slideUp(200, function () {
                alertElement.alert('close');
            });
        }

        // Handle manual closing through the close button
        alertElement.on("close.bs.alert", function () {
            console.log("Alert is being closed manually");
            // Add any additional logic you may need before the alert is closed
            alertElement.addClass("manual-close"); // Mark as manually closed
        });

        // Handle alert closed event
        alertElement.on("closed.bs.alert", function () {
            console.log("Alert is closed");
            // Add any additional logic you may need after the alert is closed
        });
    });

    function confirmDelete(uniqueId, isTrue) {
        var deleteSpan = 'deleteSpan_' + uniqueId;
        var confirmDeleteSpan = 'confirmDeleteSpan_' + uniqueId;

        if (isTrue) {
            $('#' + deleteSpan).hide();
            $('#' + confirmDeleteSpan).show();
        } else {
            $('#' + deleteSpan).show();
            $('#' + confirmDeleteSpan).hide();

            // Trigger the form submission when "Yes" is clicked
            $('form[action*="DeleteUser"][asp-route-UserId="' + uniqueId + '"]').submit();
        }
        return false;
    }
</script>
