@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using static ASPNETCoreIdentityDemo.Models.ViewModels.DashboardViewModel
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success mt-5">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <p>@TempData["SuccessMessage"]</p>
        </div>
    }
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-vn+0rOgJHzGn8PP+1/wCC2aPxwV6vvxtLLcl6coM0qA6g3tjB8tKmf/mJw6pJhSGheYE8cV05K7E2E8eEiME+g==" crossorigin="anonymous" />

@if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("SuperAdmin")))
{
 <h1 class="mb-4">Admin Dashboard</h1>
    <div class="row">
        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card bg-primary text-white">
                <div class="card-body">
                    <h5 class="card-title">Total Users</h5>
                    <p class="card-text">@ViewBag.UsersCount</p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card bg-success text-white">
                <div class="card-body">
                    <h5 class="card-title">Roles</h5>
                    <p class="card-text">@ViewBag.RolesCount</p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card bg-warning text-white">
                <div class="card-body">
                    <h5 class="card-title">New Orders</h5>
                    <p class="card-text">25</p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card bg-danger text-white">
                <div class="card-body">
                    <h5 class="card-title">Pending Requests</h5>
                    <p class="card-text">10</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Recent Activities</h5>
                    <ul>
                        <li>User logged in</li>
                        <li>New order placed</li>
                        <li>Product added to the catalog</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Monthly Sales Chart</h5>
                    <!-- Add your chart or graph here -->
                    <p>Chart goes here</p>
                </div>
            </div>
        </div>
    </div>
}
else
{

   <h1 class="mb-4">User DashBoard</h1>
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-primary text-white">
                <div class="card-body">
                    <h5 class="card-title">User Profile</h5>
                    <p class="card-text"><i class="fas fa-user"></i> <span>@ViewBag.FirstName @ViewBag.LastName</span></p>
                    <p class="card-text"><i class="fas fa-envelope"></i> @User?.Identity?.Name</p>
                    <p class="card-text"><i class="fas fa-calendar-alt"></i> Joined on January 1, 2022</p>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card bg-success text-white">
                <div class="card-body">
                    <h5 class="card-title">Recent Activities</h5>
                    <ul class="list-group">
                        <li class="list-group-item">Updated profile information</li>
                        <li class="list-group-item">
                            <!-- Provide clear indication that 'Edit' action is available -->
                            <a asp-action="EditUser" asp-controller="#"
                               asp-route-UserId="@ViewBag.userId" class="btn btn-primary">Edit Profile</a>
                        </li>
                        <li class="list-group-item">Liked a post</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card bg-info text-white">
                <div class="card-body">
                    <h5 class="card-title">Monthly Activity</h5>
                    <p class="card-text">Visual representation of monthly activity</p>
                    <!-- Include a placeholder or interactive chart/graph for better user engagement -->
                    <div id="monthly-activity-chart" style="height: 300px;"></div>
                </div>
            </div>
        </div>
    </div>


        @* <div class="row">
            <div class="col-md-4">
                <div class="card bg-primary text-white">
                    <div class="card-body">
                        <h5 class="card-title">User Profile</h5>
                    <p class="card-text"><i class="fas fa-user"></i><span>@ViewBag.FirstName &nbsp;</span>@ViewBag.LastName</p>
                        <p class="card-text"><i class="fas fa-envelope"></i> @User?.Identity?.Name</p>
                        <p class="card-text"><i class="fas fa-calendar-alt"></i> Joined on January 1, 2022</p>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="card bg-success text-white">
                    <div class="card-body">
                        <h5 class="card-title">Recent Activities</h5>
                        <ul class="list-group">
                            <li class="list-group-item">Updated profile information</li>
                            <li class="list-group-item">
                            <a asp-action="EditUser" asp-controller="#"
                               asp-route-UserId="@ViewBag.userId" class="btn btn-primary">Edit</a>
                            </li>
                            <li class="list-group-item">Liked a post</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card bg-info text-white">
                    <div class="card-body">
                        <h5 class="card-title">Monthly Activity Chart</h5>
                        <!-- Include your chart or graph library here -->
                        <p>Chart goes here</p>
                    </div>
                </div>
            </div>
        </div>
  } *@
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".alert").delay(5000).slideUp(200, function () {
            $(this).alert('close');
        });
    });
</script>



























































































@* @{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">DashBoard</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">DashBoard </a>
            </li>
            <li class="nav-item">
               <a class="nav-link text-dark" asp-area="" asp-controller="Administration" asp-action="ListRoles">Role Manager</a>
            </li>
        </ul>
        <ul class="navbar-nav  justify-content-end">
              <li>
                    <form asp-controller="Account" asp-action="Logout" method="post">
                        <button style="border: none;">Logout</button>
                    </form>
              </li>
        </ul>
    </div>
</nav> 
</body>
</html>*@